.password-input {
  position: relative;
}
.password-input:before {
  color: #fff;
  position: absolute;
  display: block;
  content: 'Password';
  background: var(--main-bg-color);
  top: -.6rem;
  left: 1rem;
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
}
