@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #181818;
  --menu-bg-color: #242424;
}

@layer components {
  .input {
    @apply text-black px-3 w-[335px] h-[58px] text-white outline-0 transition-all duration-300;
    border-radius: 8px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background: var(--main-bg-color);
  }
  .input:hover {
    border-color: #fff;
  }
  .input:focus {
    border-color: #00a6ff;
  }
  .input::placeholder {
    color: rgba(255, 255, 255, .3);
  }
  .bg-menu {
    background: var(--menu-bg-color);
  }
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

body {
  font-family: 'Ubuntu';
}
