@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #181818;
  --menu-bg-color: #242424;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}

@layer components {
  .input {
    @apply text-black px-3 w-[335px] h-[58px] text-white outline-0 transition-all duration-300;
    border-radius: 8px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background: var(--main-bg-color);
  }
  .input:hover {
    border-color: #fff;
  }
  .input:focus {
    border-color: #00a6ff;
  }
  .input::placeholder {
    color: rgba(255, 255, 255, .3);
  }
  .bg-menu {
    background: var(--menu-bg-color);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
}

body {
  font-family: 'Ubuntu';
}
